.backgrounf-top {
    background-size: 150px;
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}

.center {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    margin-top: 15px;
}
.text-imput{
    background: #c2c5d6;
    border-radius: 8px;
    height: 20px;
}